<div class="x-body1" id="AutoPayTermsConditionsModalTemplate"><p style="margin: 0in;"><span style="color: #2e2f30;
    background: white;">Please read these terms and conditions
    carefully. They are an agreement between you and the operating
    company subsidiary of Comcast Corporation which provides the goods
    or services to you ("Comcast"). These terms and conditions are in
    addition to and not in lieu of any other agreements between you and
    Comcast.</span></p><ol><li><span style="color: #2f2f2f; background:
        white;"> By accepting these Terms and Conditions you (i) agree
        that you are accepting these Terms and Conditions on behalf your
        company and/or the company you are employed by (the “Subscribing
        Company”), (ii) represent and warrant that you are an authorized
        representative of the Subscribing Company with the authority to
        bind the Subscribing Company and (iii) agree to these Terms and
        Conditions on behalf of the Subscribing Company. "You" and
        “Your” in these Terms and Conditions refers to (A) the
        Subscribing Company, (ii) you, an individual user, and (iii) any
        other Subscribing Company personnel accessing and using the
        Comcast website on the Subscribing Company’s behalf. </span></li><li><span
        style="color: #2f2f2f; background: white;"> These Terms and
        Conditions constitute a legal agreement between You and the
        operating company subsidiary of Comcast Business Communications,
        LLC which provides the goods or services to the Subscribing
        Company ("Comcast"). These terms and conditions are in addition
        to, and not in lieu of, any other agreements between You and
        Comcast. </span></li><li><span style="color: #2f2f2f;
        background: white;"> You acknowledge and agree that You have
        elected to enroll through Comcast’s website to pay Your monthly
        Comcast Business bill through automatically recurring electronic
        fund transfers ("EFTs"). </span></li><li><span style="color:
        #2f2f2f; background: white;"> You have the right to revoke Your
        authorization to Comcast for automatically recurring EFTs at any
        time. To revoke Your automatically recurring EFTs, (i) contact
        Comcast Business Customer Service (1-800-391-3000) and a
        customer service representative can make the change for Your
        business or (ii) visit businessclass.comcast.net (or any
        successor URL) (the “Website”), successfully sign in to Your
        account, navigate to where you may manage bill and payment
        preferences, follow the instructions provided, and save Your
        changes. Comcast automatic recurring EFTs will not take effect
        until 30-45 business days after receipt by Comcast of Your
        account information. The 30-45 day delay is necessitated by our
        validation and testing of Your bank checking/savings account
        number. </span></li><li><span style="color: #2f2f2f; background:
        white;"> By electing to pay Your monthly Comcast Business bill
        by automatically recurring EFTs, You authorize Comcast to (i)
        initiate an automated clearing house (ACH) debit entry(ies) or
        debit card payment(s) from the checking or savings account You
        specify, (ii) charge the specified credit card and (iii) credit
        the specified bank account, credit card and/or debit card in the
        appropriate amount for any refunds or other billing adjustments
        . The amount debited from Your checking or savings account or
        charged to Your credit card every month will be the then current
        balance on Your account. Your current balance is the amount on
        Your Comcast statement, plus additional charges billed to Your
        account after Your statement was issued, less credits or
        payments posted to Your account after Your statement was issued.
        Once Your enrollment is processed, all payments will be
        automatically withdrawn from Your specified checking or savings
        account or charged to the designated credit or debit card on the
        Comcast statement due date, unless you terminate Your
        authorization in the manner described herein. If You select a
        debit card as the payment source, Comcast may process the
        payment(s) over the primary network brand indicated on such
        debit card or any other network, including, but not limited to,
        the STAR, Pulse, NYCE or ACCEL networks. You agree to be bound
        by any rules Your financial institution requires for ACH debit
        transactions or that the debit card or credit card issuer
        requires for debit card or credit card transactions. </span></li><li><span
        style="color: #2f2f2f; background: white;"> COMCAST SHALL BEAR
        NO LIABILITY OR RESPONSIBILITY FOR ANY LOSSES OF ANY KIND THAT
        YOU MAY INCUR AS A RESULT OF AN ERRONEOUS STATEMENT OR INVOICE,
        ANY DELAY IN THE ACTUAL DATE ON WHICH YOUR ACCOUNT IS DEBITED,
        OR YOUR FAILURE TO PROVIDE ACCURATE AND/OR VALID PAYMENT
        INFORMATION. </span></li><li><span style="color: #2f2f2f;
        background: white;"> You must update all changes to Your credit
        card or debit card information, or to the bank account
        information, from which EFTs are made, by accessing Your account
        and modifying and updating Your monthly automatically recurring
        payment option. If you do not update Your checking/savings
        account or credit/debit card information and Comcast is unable
        to charge Your credit card or withdraw funds from Your debit
        card, checking account, or savings account, for the amount due
        on Your Comcast account, You may be subject to applicable late
        fees, returned item charges and any fees or charges assessed by
        Your financial institution. </span></li><li><span style="color:
        #2f2f2f; background: white;"> Comcast will make Your business'
        monthly bill statement available to you via the Website which
        can be viewed by logging into Your account. The amount shown as
        due on Your business' monthly bill statement will constitute
        notice to You of any variance in amount from the bill payment
        amount paid in the previous month by EFT. The balance shown as
        due on Your business' monthly bill statement will be charged to
        Your credit card or debit-card or deducted from Your business'
        bank account on the payment due date. </span></li><li><span
        style="color: #2f2f2f; background: white;"> In order to ensure
        that we are able to provide Your business with important notices
        and other information, You must update us with any change in
        Your email address (which may also be Your
        businessclass.comcast.net username). To update the email address
        on Your account, please visit the Website. After You
        successfully sign in, please navigate to where You may change
        Your email address, follow the instructions provided, and save
        Your changes. </span></li><li><span style="color: #2f2f2f;
        background: white;"> Comcast reserves the right to change these
        Terms and Conditions at any time without actual notice. Notice
        of any such change may be given on or with Your bill or by other
        methods, including, but not limited to, email. </span></li></ol></div>