<div class="x-body1" id="TermsConditionsModalTemplate"><p style="margin: 0in;"><span
            style="color: #2e2f30; background: white;">Please read these terms
            and conditions carefully. They are an agreement between you and the
            operating company subsidiary of Comcast Corporation which provides
            the goods or services to you ("Comcast"). These terms and conditions
            are in addition to and not in lieu of any other agreements between
            you and Comcast.</span></p><ol><li><span style="color: #2e2f30;
                background: white;">By storing the checking account, savings
                account, credit card or debit card information on your ‘Bill and
                payment preferences’ and subsequently using the checking
                account, savings account, credit card or debit card for one-time
                payments (collectively, “Stored Payment Method”) , you authorize
                Comcast to (a) initiate an automated clearing house (ACH) debit
                entry(ies) or a debit card payment(s) from the checking or
                savings account you specify, or (b) charge your specified credit
                card. The amount(s) and date(s) of any payment(s) will be
                specified on the payment information screen shown during the
                payment process.<br><br></span></li><li><span style="color:
                #2e2f30; background: white;">If you have any other accounts with
                Comcast that are linked by your user ID, email address or other
                user credentials, you understand by storing the Stored Payment
                Method on your ‘Bill and payment preferences’ on a Comcast
                account, your Stored Payment Method will appear as a Stored
                Payment Method on the Comcast linked account. Use of your Stored
                Payment Method on the linked Comcast account is subject to these
                terms and conditions.<br><br></span></li><li><span style="color:
                #2e2f30; background: white;">You agree not to use your Stored
                Payment Method for </span><span style="color: #2e2f30;">payment
                testing, rewards scams, theft, fee abuse or any other use that
                we believe in our sole discretion is a fraudulent or
                nonpermitted use of your Stored Payment Method.<br><br></span></li><li><span
                style="color: #2e2f30;">You also authorize Comcast to credit
                your specified bank account or credit card in the appropriate
                amount for any refunds or other billing adjustments.<br><br></span></li><li><span
                style="color: #2e2f30;">If you select a debit card as your
                payment source, Comcast may process your payment(s) over the
                STAR, Pulse, NYCE or ACCEL networks (or another network, other
                than the primary network brand indicated on your card).<br><br></span></li><li><span
                style="color: #2e2f30;">You agree to be bound by any rules your
                financial institution requires for ACH debit transactions or
                that your debit card or credit card issuer requires for debit
                card or credit card transactions.<br><br></span></li><li><span
                style="color: #2e2f30;">YOU AGREE THAT COMCAST SHALL BEAR NO
                LIABILITY OR RESPONSIBILITY FOR ANY LOSSES OF ANY KIND THAT YOU
                MAY INCUR AS A RESULT OF AN ERRONEOUS STATEMENT OR INVOICE, ANY
                DELAY IN THE ACTUAL DATE ON WHICH YOUR ACCOUNT IS DEBITED, OR
                YOUR FAILURE TO PROVIDE ACCURATE AND/OR VALID PAYMENT
                INFORMATION.<br><br></span></li><li><span style="color:
                #2e2f30;">You agree if your use of the Stored Payment Method is
                in violation of these terms and conditions, we reserve the right
                in our sole discretion to:<br></span><ul> <li><span
                        style="color: #2f2f2f; background: white;">l</span><span
                        style="color: #2f2f2f;">imit the type of Stored Payment
                        Method that you may use;</span></li> <li><span
                        style="color: #2f2f2f;">reject a Stored Payment Method
                        transaction; or</span></li> <li><span style="color:
                        #2f2f2f;">remove your Stored Payment Method in our sole
                        discretion,</span></li></ul><span style="color:
                #2e2f30;"><br></span></li><li><span style="color: #2f2f2f;
                background: white;">You agree that Comcast reserves the right to
                change these terms and conditions at any time. Notice of any
                such change may be given on or with your bill or by other
                methods, including, but not limited to email.</span></li></ol></div>