<template id="CardBankOrExistingRadioTemplate">
  <div name="cardOrExistingContainer">
    <div name="jump-error-message-cob-top" class="row"></div>  
    <div name="cardListPlaceholder">
   
    </div>
    <div name="newPaymentOptionPlaceholder">

    </div>
    <div name="cardListPlaceholderCard" class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card card-body d-none" name="jump-card-container">      
        <jump-cc-web-component id="jump-cc-web-component" class="show"></jump-cc-web-component>      
    </div>
    <div class="col-12 d-none" id="jump-new-card-hr"><hr /></div>
    </div>
    <div name="cardListPlaceholderBank" class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card card-body d-none" name="jump-bank-container">      
        <jump-ach-web-component id="jump-ach-web-component" class="show"></jump-ach-web-component>      
      </div>
    </div>
    <div name="jump-error-message-bottom" class="row"></div>
    <jump-error-web-component id="jump-error-web-component-card-bank-or-existing"></jump-error-web-component>   
    <div name="jump-error-message-cob-bottom" class="row"></div>  
  </div>
  </template>