<template id="AutoPayBaseTemplate">
    <div class="row">
        <div>
        <div class="form-check py-2" id="jump-select-auto-pay">
            <input class="form-check-input" type="checkbox" name="jump-auto-pay-checkbox" id="jump-auto-pay-checkbox">
            <label class="form-check-label" id = "jump-auto-pay-label" for="jump-auto-pay-checkbox">Turn on automatic payments using this payment method</label>
        </div> 
    </div>
        <div class="py-2 col-12 form-control d-none" name="jump-terms-of-conditions">
            <label class="form-check-label" id = "jump-tc-label">Your full balance will be automatically charged on your bill due date each month, beginning with your next bill. Cancel anytime. Please allow one <br> business day for us to process your payment <a href="#" data-bs-toggle="modal" data-bs-target="#jumpModalDialog" name="jump-auto-pay-info" rel="noopener noreferrer" style="text-decoration: none;"> Automatic Payments Terms & Conditions</a> apply.</label>
    </div>                  
    </div>
</template>