<template id="AddressOptionBaseTemplate">  
    <div class="form-check py-2" name="jump-display-address-option">
        <input class="form-check-input" data-bs-toggle="collapse" data-bs-target="#jump-address-template" type="checkbox" name="jump-address-option">
        <label class="form-check-label" name="jump-address-accessibility-label">
        Use a different address
        <strong><div name="jump-existing-address-info" for="jump-address-option"></div></strong>
        </label>
    </div>    
    </template>
      