<template id="AddressOptionBaseTemplate">  
    <div class="form-check py-2" name="jump-display-address-option">
        <div>
            <input class="form-check-input" type="radio" name="jump-address-option">
            <strong><div name="jump-existing-address-info" for="jump-address-option"></div></strong>        
            <label name="jump-address-label" class="form-check-label">
            Use a different address
            </label>        
        </div>   
    </div>    
    </template>
      