<template id="CardListBaseTemplate">
  <link name="jump-css-url" rel="stylesheet" />
  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" id="cclistDiv">
    <div class="row">
      <div class="box-radio">
        <input class="form-check-input radio-size" type="radio" name="jump-card-list-option"/>
      </div>
      <div class="col-7">
        <span>
        <img name="jump-card-url" style="height: 33px"/>
        </span>
        <strong><label name="jump-card-description"></label></strong>
        <span class="badge bg-primary" name="jump-card-default"></span>
        <span class="badge bg-primary" name="jump-card-autopay"></span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right"><label name="jump-card-expiry"></label></div>
    </div>
    <div class="col-12"><hr  name='jump-payment-option-hr'/></div>
  </div>
</template>
