<template id="CardListBaseTemplate">
  <link name="jump-css-url" rel="stylesheet" />
  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" id="cclistDiv">
    <div class="row">
      <div class="box-label-radio">
        <input class="form-check-input box-input-radio" type="radio" name="jump-card-list-option"/>
      </div>
      <div class="col-7">
        <span>
        <img name="jump-card-url" style="height: 37px"/>
        </span>
        <div class="box-label-div">
          <strong>
            <label name="jump-card-description"></label>
            <span class="badge bg-primary" name="jump-card-default"></span>
            <span class="badge bg-primary" name="jump-card-autopay"></span>
          </strong>
          <label name="jump-card-expiry"></label>
          
        </div>
      </div>
    </div>
    <div class="col-12"><hr /></div>
  </div>
</template>
