<template id="CareBaseTemplate">
    <div class="row d-none" name="jump-iguard-entry-selection" id="jump-iguard-entry-selection">
        <div class="py-2 col">
          <button class="btn btn-clear link-primary iguard-manual-entry-btn" name="jump-agent-entry" type="button" >
            <h5>Manually enter information</h5>
          </button>
        </div>
        <div class="py-2 col text-right">
          <button class="btn btn-dark iguard-customer-entry-btn" name="jump-customer-entry" type="button">
            <h5>Switch to customer entry</h5>
          </button>
        </div>
    </div>
</template>
