<template id="TCBaseTemplate">
    <div class="row">
        <div class="col-12">
            <div class="form-check py-2" id="jump-select-tc" name="jump-terms-of-conditions-select">
                <div class="jump-tooltip-container">
                    <input class="form-check-input jump-tc-checkbox" type="checkbox" name="jump-tc-checkbox">
                    <label class="form-check-label" id="jump-tc-label" name="jump-tc-label" for="jump-tc-checkbox">Store this payment method. <a href="https://www.xfinity.com/Corporate/Customers/Policies/storedpayment" target="_blank" rel="noopener noreferrer" style="text-decoration: none;"> Terms and Conditions</a>
                    apply.
                    </label>
                    <a href="#" id="jump-tooltip" name="jump-tooltip" class='jump-tooltip-box d-none'>
                        <img name="jump-stored-payment-icon" class="info-icon-img"/>
                    </a>
                    <div id="jump-tooltip-text" class="jump-tooltip-text">
                        <div class="arrow-left"></div>
                    </div>
                </div>
            </div> 
        </div>               
    </div>
</template>