<template id="TCBaseTemplate">
    <div class="row">
        <div>
        <div class="form-check py-2" id="jump-select-tc" name="jump-terms-of-conditions-select">
            <input class="form-check-input jump-tc-checkbox" type="checkbox" name="jump-tc-checkbox">
            <label class="form-check-label" id="jump-tc-label" name="jump-tc-label" for="jump-tc-checkbox">By choosing to Save, customer confirms that they have read and agree to the <a href="#" data-bs-toggle="modal" data-bs-target="#jumpModalDialog" name="jump-terms-condition-info" rel="noopener noreferrer" style="text-decoration: none;"> Terms and Conditions</a> of storing a payment method</label>
        </div> 
    </div>               
    </div>
</template>