<template id="UserroleListBaseTemplate" name="UserroleListBaseTemplate">
    <div class="row py-2 d-none" id="jump-userrole-container">
        <div class="py-2 col-12">
            <label class="form-check-label jump-userrole-title" id="jump-userrole-title" name="jump-userrole-title"> Select Xfinity ID to associate this payment with:</label>
        </div>  
        <div class="col-12" id="jump-userrole-list" name="jump-userrole-list">
        </div>                
    </div>
</template>